<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sidebar 06</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container d-flex align-items-stretch">
      <nav id="sidebar" class="img">
        <div class="p-4">
          <h1>
            <a href="index.html" class="logo">SIDIAS <span>Sinarmas Digital Absence</span></a>
          </h1>
          <ul class="list-unstyled components mb-5">
            <li class="active">
              <a href="index.html"><span class="fa fa-home mr-3"></span> Home</a>
            </li>
            <li>
              <a href="permission.html"><span class="fa fa-address-book mr-3"></span> Permission</a>
            </li>
            <li>
              <a href="calendar.html"><span class="fa fa-calendar mr-3"></span> Calendar</a>
            </li>
          </ul>

          <div class="footer">
            <p>
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by Fefi Casio
            </p>
          </div>
        </div>
      </nav>

      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <img src="images/sinarmas.png" alt="fefi" width="150" />
        <h4 class="mt-3"><b>Permission</b></h4>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Name </label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" name="nama" />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Department</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" name="alamat" />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Position</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" name="alamat" />
        </div>
      </div>
    </div>
  </body>
</html>
